
.main-flex{
    display: flex;
    gap:3rem;
}

.main-flex .featured{
    width: 64%; 
}

.featured .postContainer{
    display: flex;
    gap:1rem;
    flex-direction:column;
    border: 1px solid #ccc; 
}

.featured .text-content{
    display:flex;
    flex-direction:column;
    gap:1rem;
    align-items: start;
}

.featured .featured-image{
    max-height:400px;
    width:100%;
}

/*  ===================================ALL POST ================================================================= */
/*  ============================================================================================================= */
/*  ============================================================================================================= */
/*  ============================================================================================================= */
/*  ============================================================================================================= */
/*  ============================================================================================================= */

.all-post { 
    width:35%;
}

.all-post .post:hover {
    background-color:#FBF6EA; 
}