
 

.hero{ 
    width: 100%;
    max-width: 1600px;  
    max-height:720px;
    position: relative; 
    box-shadow: inset 135px 200px 300px 66px rgba(0,0,0,0.49); 
} 

.hero-bg{
    max-height:720px;
    width:100%;
    max-width:1600px; 
    object-fit: cover; 
    object-position: left top ;
}

@media(max-width:768px) {
    .hero{
        max-height: 500px;
    }
    .hero-bg{
        max-height: 500px; 
        width:100%;
        max-width:1600px; 
        object-fit: cover; 
        object-position: center ;
    }
}
 