*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.article-custom{
  margin-bottom:1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.blog__content p{
  margin:0.8rem 0;
}

.blog__content h1{
  margin:1.5rem 0;
}
 
/* =============================== HOME PAGE ================================================== */
/* =========================================================================================== */
/* =========================================================================================== */
/* =========================================================================================== */
/* =========================================================================================== */
/* =========================================================================================== */

 .about-section{
  height: auto;
  text-align:left;
  background: #F4F0F8;
  border: 2px solid #ccc
 }

 .about-section .about{
  width: 50%;  
 }

 .about-section .mission{ 
  width: 50%;
 }


